:root{
  --sizeH:95vh;
  --sizeW:calc(16*var(--sizeH)/9);
  --sizeHCont:calc(5*var(--sizeH)/12);
  --PasekBtnH:calc(2*var(--sizeH)/12);
}
body{
  font-size: 3vh;
  display:flex;
}
.layout{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  width: var(--sizeW);
  height: var(--sizeH);
}
.EnemyContainer, .HeroContainer, .PasekButton{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: center;
align-content: flex-start;
width: var(--sizeW);
}
.EnemyContainer, .HeroContainer{
height:var(--sizeHCont);
}
.EnemySlot{
height:var(--sizeHCont);
width:calc(var(--sizeW)/5.4);
display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: flex-start;
align-items: center;
align-content: flex-start;
}
.EnemyObrazek{
  width: calc(var(--sizeW)/5.4);
  height:calc(8*var(--sizeHCont)/10);
  justify-content: center;
  display: flex;
}
.PasekButton {
  -webkit-box-shadow: 0px 0px 10px 6px rgba(48, 87, 148, 1);
  -moz-box-shadow: 0px 0px 10px 6px rgba(48, 87, 148, 1);
  box-shadow: 0px 0px 10px 6px rgba(48, 87, 148, 1);
  height:var(--PasekBtnH);
  width:calc(71*var(--sizeW)/89);
}
.btn{
  margin: 5px;
  height:calc(var(--PasekBtnH)*0.9);
  width: calc(22*var(--sizeW)/224);
  font-size: 3vh;
}
.HeroStaty, .HeroSlot, .HeroAkcja, .EnemyAkcja{
display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: flex-start;
align-items: center;
align-content: center;
}
.HeroStaty, .HeroSlot{
width: calc(30*var(--sizeW)/89);
height: var(--sizeHCont);
}
.HeroAkcja, .EnemyAkcja{
  width: calc(2*var(--sizeW)/89);
  margin-left: -5vh;
}
.HeroSpacja{
  width: calc(2*var(--sizeW)/89);
}
.HeroObrazek{
  justify-content: center;
  display: flex;
  width: calc(8*var(--sizeW)/32);
  height:calc(8*var(--sizeHCont)/10);
}
.Start{
  width: calc(9*var(--sizeW)/89);
  height:calc(3*var(--sizeHCont)/10);
  font-size: 3vh;
}
img{
  height: 100%;
  width: auto;
}
#HeroAtak,#EnemyAtak{
  color: red;
}
#HeroPancerz,#EnemyPancerz{
  color:chartreuse;
}
#HeroPancerz,#EnemyPancerz,#HeroAtak,#EnemyAtak{
  font-weight:900;
  font-size:5vh;
}
progress{
  width: 70%;
}